
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <div>訂單編號</div>
        <div>@Html.TextBox("txtOrderID")</div>

        @Html.DropDownList("custData", (List<SelectListItem>)ViewBag.custData);
  @*@Html.DropDownListFor(model => model.CustId, (List<SelectListItem>)ViewBag.custData);*@
        <table>
            <tr>
                <td>客戶代號</td>
                <td>客戶名稱</td>
                <td>負責員工</td>
            </tr>
            @foreach (var item in (List<eSalex.Models.Order>)ViewBag.Data)
            {
                <tr>
                    <td>@item.CustId</td>
                    <td>@item.CustName</td>
                    <td>@item.EmpName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
@*<script type="text/javascript">
    var msg = '@ViewBag.test';
    alert("msg");

    //alert("test");
</script>*@

